body {
  margin: 0;
  background-color: #21232E; }

.header .header-wrap .header_heading:after, .section .section_text:after, .section .section_card_wrap .section_card .section_card_heading .section_card_underline, .section .section_banner_heading:after {
  display: block;
  content: '';
  height: 30px;
  background: #FF4E33;
  position: relative;
  bottom: 0.4em;
  z-index: -1; }

.header {
  position: relative;
  height: 100%;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url("../img/m-h-night.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom-right-radius: 700px 40%;
  z-index: 1; }
  .header .header-wrap {
    margin-left: 180px; }
    .header .header-wrap .landing-logo {
      width: 160px; }
      .header .header-wrap .landing-logo img {
        padding-top: 30px;
        width: 60px; }
      .header .header-wrap .landing-logo p {
        float: right;
        font-family: "Fresca", sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-align: center; }
        .header .header-wrap .landing-logo p span {
          display: block;
          font-weight: 400;
          font-size: 16px;
          padding-top: 5px; }
    .header .header-wrap .header_heading {
      font-size: 90px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      width: 650px;
      margin: 100px 50px 50px 0; }
      .header .header-wrap .header_heading:after {
        width: 380px; }
    .header .header-wrap .header_text {
      width: 800px;
      font-size: 20px;
      letter-spacing: 0.5px;
      line-height: 1.6;
      white-space: pre; }
    .header .header-wrap .header_button {
      width: 180px;
      height: 60px;
      background-color: #E3AC00;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 22px;
      color: #fff;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      z-index: 2;
      margin-top: 50px;
      margin-bottom: 200px; }
      .header .header-wrap .header_button:hover {
        background-color: #429bf4; }

.section .section_text {
  position: relative;
  margin-left: 600px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #fff; }
  .section .section_text:after {
    margin-left: 310px;
    width: 270px;
    bottom: 30px;
    height: 20px; }
.section .section_card_wrap {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  margin: 0 200px 100px 200px; }
  .section .section_card_wrap .section_card {
    background-color: #3B3F50;
    width: 450px;
    height: 600px;
    border-radius: 10px;
    color: #C0C3AF;
    padding: 20px;
    font-family: "Fresca", sans-serif;
    z-index: -1; }
    .section .section_card_wrap .section_card .section_card_img {
      width: 450px;
      border-radius: 10px; }
    .section .section_card_wrap .section_card .section_card_heading {
      width: 100%;
      color: #fff;
      font-size: 30px;
      font-weight: 600; }
      .section .section_card_wrap .section_card .section_card_heading .section_card_underline {
        margin-left: 110px;
        width: 230px;
        bottom: 25px;
        height: 20px; }
    .section .section_card_wrap .section_card .section_card_text {
      font-size: 20px;
      padding-top: 0; }
.section .section_banner {
  margin-left: 400px;
  background: linear-gradient(to right, #ffcc00, #942E52);
  height: 170px;
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
  margin-bottom: -70px; }
.section .section_banner_heading {
  font-size: 35px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  margin-bottom: 25px;
  z-index: 1;
  position: relative; }
  .section .section_banner_heading:after {
    display: block;
    width: 75px;
    height: 15px;
    margin-left: 140px;
    bottom: 20px; }
.section .section_banner_text {
  font-family: "Fresca", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-top: 0; }

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #3B3F50; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 143px 0 50px;
    width: 80%;
    color: #fff;
    font-family: "Fresca", sans-serif; }
    .footer .footer-wrap .footer_logo {
      width: 160px; }
      .footer .footer-wrap .footer_logo img {
        padding-top: 30px;
        width: 60px; }
      .footer .footer-wrap .footer_logo p {
        float: right;
        font-family: "Fresca", sans-serif;
        font-weight: 600;
        font-size: 30px;
        text-align: center; }
        .footer .footer-wrap .footer_logo p span {
          display: block;
          font-weight: 400;
          font-size: 16px;
          padding-top: 5px; }
    .footer .footer-wrap .footer_text {
      width: 450px;
      font-size: 18px;
      line-height: 1.4; }
    .footer .footer-wrap .footer-cr {
      font-size: 20px; }

button {
  width: 180px;
  height: 60px;
  background-color: #E3AC00;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  z-index: 2; }
  button:hover {
    background-color: #429bf4; }
