$bodyBackgroundColor: #fff;
$headerBackgroundImage: url("../img/m-h-day.jpg");
$fontFamilyMain: 'Source Sans Pro', sans-serif;
$fontFamilyParagraph: 'Hind', sans-serif;
$fontFamilyPeaks: 'Source Sans Pro', sans-serif;
$themeTextColor: #21232E;
$buttonColor: #699900;
$bannerGradient: linear-gradient(to right, #61911B, #2D5BD8);
$underlineColor: #14A0C7;
$footerColor: #21232E;
$footerFontColor: #BAC2CE;
$cardbackgroundColor:#21232E;
$mainHeaderColor: #000;