$bodyBackgroundColor: #21232E;
$headerBackgroundImage: url("../img/m-h-night.jpg");
$fontFamilyMain: 'Source Sans Pro', sans-serif;
$fontFamilyParagraph: 'Fresca', sans-serif;
$fontFamilyPeaks: 'Fresca', sans-serif;
$themeTextColor: #fff;
$buttonColor: #E3AC00;
$bannerGradient: linear-gradient(to right, #ffcc00, red);
$underlineColor: #FF4E33;

