$bodyBackgroundColor: #fff;
$headerBackgroundImage: url("../img/m-h-day.jpg");
$fontFamilyMain: 'Source Sans Pro', sans-serif;
$fontFamilyParagraph: 'Hind', sans-serif;
$fontFamilyPeaks: 'Source Sans Pro', sans-serif;
$themeTextColor: #21232E;
$buttonColor: #699900;
$bannerGradient: linear-gradient(to right, #2D5BD8, #61911B);
$underlineColor: #14A0C7;